.home {
    // background: $perso-bg-gradien;

    .homeContent {
        background: linear-gradient(115deg, $perso-color-1 50%, transparent 100%);
        min-height: $perso-minHeight;
        width: 100%;
        min-height: 500px;
        border-radius: $perso-borderRadius;
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: inherit;
            background: url('../../media/cover.jpg') no-repeat center/cover;
            z-index: -1;
            filter: brightness(70%);
        }

        .content {
            position: absolute;
            top: 20%;
            left: 13%;
            font-family: $perso-font-1;

            h1 {
                font-size: 5rem;
                font-family: $perso-font-3;
                color: $perso-color-5;
                text-transform: uppercase;
                text-shadow: 3px 6px 2px $perso-black;
            }

            h2 {
                font-size: 2.5rem;
                padding: 1.5rem 0 7rem;
                color: $perso-color-3;
                text-shadow: 1px 4px 1px $perso-black;
            }

            .pdf {
                a {
                    font-size: 1.5rem;
                    background: $perso-color-3;
                    padding: 1rem 2rem;
                    border-radius: $perso-borderRadius;
                    box-shadow: 0 5px 1px rgb(15, 15, 15);
                    transition: 0.2s ease;

                    &:hover {
                        background: $perso-color-4;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .homeContent {
        margin: 0 !important;
    }
}

@media screen and (max-width:580px) {
    .homeContent {
        &:after {
            background: url('../../media/profile.png') no-repeat 60% 50%/cover !important;
        }

        h1 {
            font-size: 3rem !important;
        }

        h2 {
            font-size: 1.8rem !important;
        }
    }
}