.portfolio {
    .portfolioContent {
        width: 100%;
        background: $perso-color-tansp2;
        border-radius: 25px;
        padding: 1rem;
        display: grid;
        min-height: $perso-minHeight;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas:
            "1"
            "2";
    }

    .radioDisplay {
        grid-area: 1;
        border-radius: $perso-borderRadius;
        display: flex;
        width: 100%;
        padding: 1rem 2rem;
        margin: 0 auto;
        background: $perso-color-1;
        user-select: none;
        box-shadow: $perso-shadow;

        li {
            color: $perso-color-3;
            font-size: 1.1rem;
            text-transform: uppercase;
            padding: 0 1rem;
            flex: 1;
            z-index: 2;
            @include verticalCenter;

            input[type="radio"] {
                visibility: hidden;
                position: relative;

                &:before {
                    content: '';
                    visibility: visible;
                    position: absolute;
                    top: -4px;
                    left: -12px;
                    height: .9rem;
                    width: .9rem;
                    border-radius: 50%;
                    border: 2px solid $perso-color-4;
                    cursor: pointer;
                    transition: 0.3s;
                }

                &:after {
                    content: '';
                    visibility: visible;
                    position: absolute;
                    top: -4px;
                    left: -12px;
                    height: .9rem;
                    width: .9rem;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: 0.3s;
                    background: $perso-color-4;
                    transform: scale(0);
                    transform-origin: center;
                }
            }

            input:checked:after {
                transform: scale(1.17) translate(-25%, -25%);
                top: 2px;
                left: -6px;
            }

            input:checked+label {
                color: $perso-color-4;
            }

            label {
                cursor: pointer;
            }
        }
    }

    .projects {
        grid-area: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .project {
            margin-top: 30px;
            background: $perso-color-transp;
            border-radius: $perso-borderRadius;
            margin: 30px 0 0 0;
            text-align: center;
            width: 32%;
            max-height: 50%;
            padding: 4.5px 1%;
            box-shadow: $perso-shadow2;
            display: grid;
            grid-template-rows: 15% 15% 55% 15%;
            grid-template-areas:
                "1"
                "2"
                "3"
                "4";
            // transition: .2s ease;

            // &:hover {
            //     transform: translate(0px, -8px);
            // }
        }

        .icons {
            grid-area: 1;
            display: flex;
            justify-content: center;
            @include verticalCenter;

            i {
                font-size: 1.4rem;
                padding: 0 .35rem;
                color: $perso-color-5;
                text-shadow: 0 0px 1px $perso-color-1;
            }
        }

        h3 {
            grid-area: 2;
            font-family: $perso-font-2;
            font-size: 1.65rem;
            @include verticalCenter;
            // justify-content: left;

        }

        img {
            grid-area: 3;
            object-fit: cover;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            box-shadow: 0 2px 6px #333;
            border-radius: 4px;
            cursor: pointer;
            @include verticalCenter;
        }

        .infos {
            grid-area: 4;
            color: $perso-color-4;
            cursor: pointer;
            font-size: 1.5rem;
            @include verticalCenter;
            transition: .2s;

            &:hover {
                transform: scale(1.1);
            }
        }

    }
}

@media (max-width: 650px) and (min-width: 521px) {
    .portfolioContent {
        .project {
            width: 49% !important;

            i {
                font-size: 1rem;
            }
        }

        .infosContent {
            width: 100% !important;
        }
    }
}

@media (max-width: 520px) {
    .radioDisplay {
        display: none !important;
    }

    .portfolioContent {
        grid-template-rows: 1fr !important;

        .project {
            grid-template-rows: 30px 40px 80px 40px !important;
            width: 98% !important;

            img {
                height: 100% !important;
            }
        }
    }
}